# Giới thiệu Python và ứng dụng trong Phân tích dữ liệu

## Bài code `Python` đầu tiên

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print("Hello world! What's your name?")
name = input()
print("Hi", name, ". Nice to meet you too!")

## Đọc dữ liệu với Pandas

In [7]:
import pandas as pd

### Đọc dữ liệu `Excel`

In [ ]:
excel_file = 'https://github.com/tdoan89/ml-dataset/raw/main/Sample_GL.xlsx'
df = pd.read_excel(excel_file)

In [ ]:
df

        JeNumber  ...                Category
0        4933786  ...        External Revenue
1        4817578  ...       Purchase Invoices
2        4817578  ...       Purchase Invoices
3        4817578  ...       Purchase Invoices
4        4817578  ...       Purchase Invoices
...          ...  ...                     ...
146853   5738933  ...        External Revenue
146854   5632044  ...  Billing Offset Reclass
146855   5552927  ...            Credit Memos
146856   5738906  ...              Labor Cost
146857   5466214  ...  Billing Offset Reclass

[146858 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146858 entries, 0 to 146857
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   JeNumber             146858 non-null  int64
 1   Header Journal Name  146858 non-null  object
 2   PostDate             146858 non-null  datetime64[ns]
 3   Description          146854 non-null  object
 4   AcctNum              146858 non-null  int64
 5   Amount               146858 non-null  float64
 6   Category             146858 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 7.8+ MB

### Đọc dữ liệu `CSV`

In [ ]:
csv_file = 'https://github.com/tdoan89/ml-dataset/raw/main/Sample_GL_top1000.csv'
df = pd.read_csv(csv_file, encoding='utf-8')

In [ ]:
df

     JeNumber       Header Journal Name  ...     Amount           Category
0     4933786   5-2020External Revenue   ...   72101.45   External Revenue
1     4817578  4-2020Purchase Invoices   ...  -99780.00  Purchase Invoices
2     4817578  4-2020Purchase Invoices   ...  -36380.00  Purchase Invoices
3     4817578  4-2020Purchase Invoices   ...    -437.00  Purchase Invoices
4     4817578  4-2020Purchase Invoices   ...  -67945.00  Purchase Invoices
..        ...                       ...  ...        ...                ...
995   5151872  7-2020Purchase Invoices   ...    -154.06  Purchase Invoices
996   5151872  7-2020Purchase Invoices   ...  -15992.47  Purchase Invoices
997   5059806     6-2020Sales Invoices   ...  -23776.20     Sales Invoices
998   4824686           4-2020Receipts   ... -324480.00           Receipts
999   5059806     6-2020Sales Invoices   ...  -83160.00     Sales Invoices

[1000 rows x 7 columns]

### Đọc dữ liệu `JSON`

In [ ]:
json_file = 'https://github.com/tdoan89/ml-dataset/raw/main/Sample_GL_top1000.json'
df = pd.read_json(json_file)

In [ ]:
df

     JeNumber       Header Journal Name  ...     Amount           Category
0     4933786   5-2020External Revenue   ...   72101.45   External Revenue
1     4817578  4-2020Purchase Invoices   ...  -99780.00  Purchase Invoices
2     4817578  4-2020Purchase Invoices   ...  -36380.00  Purchase Invoices
3     4817578  4-2020Purchase Invoices   ...    -437.00  Purchase Invoices
4     4817578  4-2020Purchase Invoices   ...  -67945.00  Purchase Invoices
..        ...                       ...  ...        ...                ...
995   5151872  7-2020Purchase Invoices   ...    -154.06  Purchase Invoices
996   5151872  7-2020Purchase Invoices   ...  -15992.47  Purchase Invoices
997   5059806     6-2020Sales Invoices   ...  -23776.20     Sales Invoices
998   4824686           4-2020Receipts   ... -324480.00           Receipts
999   5059806     6-2020Sales Invoices   ...  -83160.00     Sales Invoices

[1000 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   JeNumber             1000 non-null   int64
 1   Header Journal Name  1000 non-null   object
 2   PostDate             1000 non-null   object
 3   Description          1000 non-null   object
 4   AcctNum              1000 non-null   int64
 5   Amount               1000 non-null   float64
 6   Category             1000 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

### Đọc dữ liệu từ `WEB`

In [ ]:
ma_co_phieu = 'MBB'

In [ ]:
url = f'https://www.stockbiz.vn/Stocks/{ma_co_phieu}/HistoricalQuotes.aspx'
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs[11]

          Ngày      Thay đổi  Mở cửa  ...  Đóng cửa ĐC  Khối lượng  Unnamed: 9
0   01/11/2021  +0,05/+0,18%    2860  ...         2855   6.340.900         NaN
1   29/10/2021  0,00 / 0,00%    2850  ...         2850  10.951.500         NaN
2   28/10/2021  +0,10/+0,35%    2865  ...         2850   9.106.800         NaN
3   27/10/2021  +0,45/+1,61%    2800  ...         2840  10.230.000         NaN
4   26/10/2021  +0,35/+1,27%    2770  ...         2795   6.836.900         NaN
5   25/10/2021  -0,30/-1,08%    2795  ...         2760   9.365.400         NaN
6   22/10/2021  0,00 / 0,00%    2815  ...         2790   7.578.900         NaN
7   21/10/2021  -0,30/-1,06%    2850  ...         2790  10.195.600         NaN
8   20/10/2021  0,00 / 0,00%    2850  ...         2820   8.937.900         NaN
9   19/10/2021  -0,20/-0,70%    2850  ...         2820  10.120.000         NaN
10  18/10/2021  0,00 / 0,00%    2875  ...         2840   8.432.600         NaN
11  15/10/2021  -0,10/-0,35%    2875  ...         2840   8.189.500         NaN
12  14/10/2021  -0,10/-0,35%    2875  ...         2850  13.310.200         NaN
13  13/10/2021  -0,15/-0,52%    2910  ...         2860  10.776.700         NaN
14  12/10/2021  -0,05/-0,17%    2915  ...         2875  16.399.900         NaN
15  11/10/2021  +1,10/+3,97%    2780  ...         2880  25.214.700         NaN
16  08/10/2021  +0,05/+0,18%    2765  ...         2770   8.131.000         NaN
17  07/10/2021  +0,15/+0,55%    2790  ...         2765   6.508.000         NaN
18  06/10/2021  +0,10/+0,36%    2750  ...         2750  10.057.200         NaN
19  05/10/2021  +0,30/+1,11%    2705  ...         2740   9.463.100         NaN

[20 rows x 10 columns]

## Lưu dữ liệu với Pandas

In [ ]:
gia_co_phieu = dfs[11].iloc[:, :-1]

### Lưu dữ liệu `Excel`

In [ ]:
gia_co_phieu.to_excel('gia_co_phieu.xlsx', index=False)

### Lưu dữ liệu `CSV`

In [ ]:
gia_co_phieu.to_csv('gia_co_phieu.csv', index=False)

### Lưu dữ liệu `JSON`

In [ ]:
gia_co_phieu.to_json('gia_co_phieu.json', orient='records')

## Biến đổi dữ liệu với Pandas

### Biến đổi và làm sạch dữ liệu

In [ ]:
# Lấy ra giá trị tăng và giám của giá cổ phiếu
tang_giam = gia_co_phieu['Thay đổi'].str.split('/', expand=True)
tang_giam

        0       1
0   +0,05  +0,18%
1   0,00    0,00%
2   +0,10  +0,35%
3   +0,45  +1,61%
4   +0,35  +1,27%
5   -0,30  -1,08%
6   0,00    0,00%
7   -0,30  -1,06%
8   0,00    0,00%
9   -0,20  -0,70%
10  0,00    0,00%
11  -0,10  -0,35%
12  -0,10  -0,35%
13  -0,15  -0,52%
14  -0,05  -0,17%
15  +1,10  +3,97%
16  +0,05  +0,18%
17  +0,15  +0,55%
18  +0,10  +0,36%
19  +0,30  +1,11%

In [ ]:
# Convert về dạng số
tang_giam[0].str.replace(',', '.').astype(float)

0     0.05
1     0.00
2     0.10
3     0.45
4     0.35
5    -0.30
6     0.00
7    -0.30
8     0.00
9    -0.20
10    0.00
11   -0.10
12   -0.10
13   -0.15
14   -0.05
15    1.10
16    0.05
17    0.15
18    0.10
19    0.30
Name: 0, dtype: float64

In [ ]:
# Hoặc tính toán thẳng
gia_co_phieu['Mở cửa'].pct_change()

0          NaN
1    -0.003497
2     0.005263
3    -0.022688
4    -0.010714
5     0.009025
6     0.007156
7     0.012433
8     0.000000
9     0.000000
10    0.008772
11    0.000000
12    0.000000
13    0.012174
14    0.001718
15   -0.046312
16   -0.005396
17    0.009042
18   -0.014337
19   -0.016364
Name: Mở cửa, dtype: float64

### Gộp nhóm dữ liệu

In [ ]:
df

     JeNumber       Header Journal Name  ...     Amount           Category
0     4933786   5-2020External Revenue   ...   72101.45   External Revenue
1     4817578  4-2020Purchase Invoices   ...  -99780.00  Purchase Invoices
2     4817578  4-2020Purchase Invoices   ...  -36380.00  Purchase Invoices
3     4817578  4-2020Purchase Invoices   ...    -437.00  Purchase Invoices
4     4817578  4-2020Purchase Invoices   ...  -67945.00  Purchase Invoices
..        ...                       ...  ...        ...                ...
995   5151872  7-2020Purchase Invoices   ...    -154.06  Purchase Invoices
996   5151872  7-2020Purchase Invoices   ...  -15992.47  Purchase Invoices
997   5059806     6-2020Sales Invoices   ...  -23776.20     Sales Invoices
998   4824686           4-2020Receipts   ... -324480.00           Receipts
999   5059806     6-2020Sales Invoices   ...  -83160.00     Sales Invoices

[1000 rows x 7 columns]

In [ ]:
# Gộp nhóm theo Account Number
df.groupby('AcctNum')['Amount'].sum()

AcctNum
10005   -3.468617e+07
10805   -7.671108e+05
11205    2.484121e+06
11805    6.831426e+06
15855   -3.000000e+05
20105    1.500000e+03
20210    3.144700e+02
20215    1.891043e+04
20220    3.672304e+04
20225    1.038298e+04
26015    8.660070e+04
26020    8.140000e+03
26035   -2.652520e+03
26055    1.138926e+05
26060    4.466310e+03
26065    1.396000e+04
26120    2.100000e+02
27035   -8.671751e+04
43505   -5.299600e+02
45505   -2.773600e+02
46505   -2.639270e+03
50005   -9.895992e+06
50105    1.626306e+07
50115   -3.640000e+05
51025    1.066694e+07
51040   -1.154412e+05
54510    1.826253e+05
55060    5.513216e+06
60105   -1.440104e+07
61205   -4.336932e+07
61510    3.322548e+04
62110   -3.935091e+05
62125    5.895720e+05
62510   -1.569291e+06
66055    4.270578e+06
66057    3.682855e+07
66070   -1.659076e+08
Name: Amount, dtype: float64

In [ ]:
# Gộp nhóm theo Category và Account Number
df.groupby(['Category', 'AcctNum'])['Amount'].sum()

Category                AcctNum
Billing Offset Reclass  51025      1.006186e+06
                        66070     -1.461469e+08
Credit Memos            50005     -1.656820e+06
                        62125     -4.255000e+04
                        62510      2.339366e+05
                        66070      2.200000e+06
Deliver                 11205      2.484121e+06
                        11805      6.831426e+06
                        26015      8.660070e+04
                        26020      8.140000e+03
                        26035     -2.652520e+03
                        26065      9.800000e+03
                        27035     -8.671751e+04
                        66057     -7.895145e+05
Depreciation            26055      1.138926e+05
                        26060      4.466310e+03
                        43505     -5.299600e+02
                        45505     -2.773600e+02
                        46505     -2.639270e+03
External Revenue        10005     -3.468617e+07
                        10805     -7.671108e+05
                        51025      9.660756e+06
Labor Cost              51040     -1.154412e+05
Miscellaneous           15855     -3.000000e+05
                        55060     -6.127290e+05
Payments                55060     -5.930227e+04
                        60105      2.126731e+06
                        62110     -6.187485e+04
Purchase Invoices       20105      1.500000e+03
                        20210      3.144700e+02
                        20215      1.891043e+04
                        20220      3.672304e+04
                        20225      1.038298e+04
                        26065      4.160000e+03
                        26120      2.100000e+02
                        54510      1.826253e+05
                        60105     -1.652777e+07
                        61205     -4.336932e+07
                        61510      3.322548e+04
                        66055      6.440370e+06
Receipts                50005     -1.959361e+07
                        50115     -3.640000e+05
                        55060     -8.029063e+06
                        62110     -3.316342e+05
                        62125      6.481920e+04
Receiving               66055     -2.169792e+06
                        66057      3.761807e+07
Reconciled Payments     55060      1.421431e+07
Sales Invoices          50005      1.135443e+07
                        50105      1.626306e+07
                        62125      5.673028e+05
                        62510     -1.803228e+06
                        66070     -2.196074e+07
Name: Amount, dtype: float64

### Pivot Table

In [ ]:
# Tạo dữ liệu theo năm và quý
df['PostDate'] = pd.to_datetime(df['PostDate'])
quarter = df['PostDate'].dt.quarter
year = df['PostDate'].dt.year

In [ ]:
df.pivot_table(
    index=[year, quarter],
    columns='Category',
    values='Amount',
    aggfunc='sum'
)

Category           Billing Offset Reclass  ...  Sales Invoices
PostDate PostDate                          ...
2019     1                  -3.000000e+05  ...             NaN
         2                            NaN  ...      -881134.28
         3                  -1.539176e+08  ...     -7040646.88
         4                   9.076869e+06  ...     12342613.60

[4 rows x 13 columns]

## Một số ứng dụng của Python

### Dịch Google tự động

In [ ]:
!pip install pandas

In [1]:
# Cài đạt công cụ dịch từ Google
!pip install --upgrade googletrans==3.1.0a0

Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.5 MB/s
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 970 kB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.5.30)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting hstspreload
  Downloading hstspreload-2021.11.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 23.6 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.8 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 2.9 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=596b8b12ed97c4e36c2401ac019ce776beaa1df50d492565ac4bed9cdd167bd5
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.11.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [2]:
from googletrans import Translator

In [13]:
translator = Translator()

In [4]:
to_translated = ['Hello World', 'Deloitte As One', 'Make An Impact']
translated = translator.translate(to_translated, src='en', dest='vi')

In [5]:
[i.text for i in translated]

['Chào thế giới', 'Deloitte như một', 'Tạo tác động']

In [11]:
lyrics = pd.read_excel('https://github.com/tdoan89/ml-dataset/raw/main/troi_hom_nay_nhieu_may_cuc_lyrics_den_vau.xlsx', header=None, names=['line'])
lyrics

                                               line
0                        Trời hôm nay nhiều mây cực
1                        Đặt bàn tay mình ngay ngực
2                         Nghe con tim mình xóc nảy
3                        Chiều mướt mải làn tóc bay
4                         Tâm tư tựa như bánh tráng
..                                              ...
94  Học cách làm chủ được mình trước khi làm chủ ai
95             Ở trong rừng an toàn hơn ở trên mạng
96             Một mình vẫn tốt hơn là mất thêm bạn
97       Thế giới này không phải của chúng mình đâu
98       Loài người được đằng chân rồi lân đằng đầu

[99 rows x 1 columns]

In [15]:
translated = translator.translate(lyrics['line'].tolist(), src='vi', dest='en')

In [16]:
for i in translated:
  print(i.text)

It's very cloudy today
Put your hand on your chest
Hear my heart beat
Smooth afternoon with flying hair
Mind is like rice paper
Thin and has the color of cockroach wings
I don't want my heart to be gloomy
In the middle of a room full of light
Take the car and leave the city far away
That place sometimes makes it difficult for me
Not carrying anyone should have momentum
Up the slope by number three
Going back to the small way again
When you look at the sky, your head is on the grass
Shape the sun into a red mass
Sometimes close your eyes to see clearly
Close your eyes, the sky is dark
Gather clouds into a pillow
Compounding sorrow into a mass of straw
The fire of the heart burns with the scent of smoke
The forest is silent and silent
Shut up until I hear a needle drop
Running away from each other
This afternoon the sun brings the heart to dry
Going into the forest alone without inviting anyone
Breasts full of mother earth, make me high enough
Will always be good people, like deer
Learn to master yourself before you master anyone
It's safer in the woods than online
It's better to be alone than to lose more friends
This world is not ours
Humans have their feet and then their heads
I am manipulated by space
Frustrated by time
Limited in full
In the nights of contemplation and sleep
How many pairs are in the shoe cabinet?
Is the other path easy to walk?
Wrap more shirts and add pants
But people's hearts are still easily scratched
Life is so strange, right?
Don't make me choose between guns and flowers
Don't grab your heel and dip it
We belong to us
After all, everyone will be forced to grow up
The pain will come one day sooner or later
No longer young
Five to three years old
Think twice before putting a tattoo on your skin
Work hard to continue writing so that the white nights turn into silver nights
The only greed is to have more music in my head
And still refuses the sleep that comes to ask for a warm kiss
Even knowing that one day everything will become "plastic aluminum iron copper"
Later, later, later
I just hope I don't frown anymore
Learn how to calm yourself
From this joy to this pain
And hope to still laugh, day
Clouds pull white over the hair
Still have not met Tang Thanh Ha
But sometimes I suddenly want to cry
Going into the forest alone without inviting anyone
Breasts full of mother earth, make me high enough
Will always be good people, like deer
Learn to master yourself before you master anyone
It's safer in the woods than online
It's better to be alone than to lose more friends
This world is not ours
Humans have their feet and then their heads
If you give me the throne, I will sell it for money to buy bread
Buy beef cakes, pia cakes, moon cakes and crave for banh can
Also to save water, so many times just bathe in the moonlight
No matter what you do, you have to brush your teeth twice a day
When I was a child, I often wondered
There's something on the moon
If it's Uncle Cuoi and Sister Hang
What do they take for food?
Then came first love, the first night
You are fragrant and sweet like a durian
At that time, my heart was like painted pink
Still shy like a bird holding a cage
Like a painting by Levitan
The love season that year was so golden
I'm like a little deer
You are the autumn leaves, oh
Love is like a microwave oven, warming us from the inside out
Bringing many aftertaste like Dong Ba market food
Unfortunately, I did not meet the ferryman in Song Da
So I went to Day Gate, I went back to Son La
I rush into the reels
I don't feel so sad now
Going into the forest alone without inviting anyone
Breasts full of mother earth, make me high enough
Will always be good people, like deer
Learn to master yourself before you master anyone
It's safer in the woods than online
It's better to be alone than to lose more friends
This world is not ours
Humans have their feet and then their heads

### Đọc dữ liệu từ bảng PDF

In [18]:
# Công cụ đọc dữ liệu bảng từ file PDF
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [19]:
import tabula

In [20]:
tables = tabula.read_pdf(
    'https://github.com/tdoan89/ml-dataset/raw/main/sample_CIC_result.pdf', 
    pages=[1]
  )

In [21]:
tables[2]

            Tên khách hàng:         NGUYEN THI HUONG THAO
0                Mã số CIC:                    0134308947
1                  Ðịa chỉ:  106 HOANG QUOC VIET CAU GIAY
2  Số chứng minh nhân\rdân:                     132181980
3     Giấy tờ cá nhân khác:                           NaN